body { 
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#2cd7e3, #a738df );
}

h1 {
    text-align: center;
}

.form-group { 
    margin-bottom: 20px;
}

.container-form { 
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: none; 
    border-radius: 5px; 
    background-color: #412872; 
    color: white;
}

form { 
    display: flex; 
    flex-direction: column; 
}

label{ 
    font-size: 14pt; 
    font-weight: bold; 
    margin-bottom: 6px; 
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button { 
    background-color: rgb(0, 177, 0);
    color: white; 
    cursor: pointer;
    font-weight: bold; 
    font-size: 14pt; 
    margin-top: 8px;
    padding: 6px 12px; 
    border: none; 
    border-radius: 3px; 
    width: 30%; 
    align-self:center;
}
    
button:hover {
    background-color: #0b8225;
}


.msg{
    text-align: center;
    font-size: 16px;
}

.logo-nav {
    width: 80px;
    height: auto;
    margin-right: 2%;
    margin-left: 10%;
    margin-bottom: 5px;
}
.project-name {
    font-size: 24px;
}
.nav {
    display: flex;
    border-bottom: 2px solid #ddd;
}
.nav-btn-container{
    margin-left: auto; 
    margin-right: 10%;
    margin-top: 25px;
}
.nav-btn{
    color: #333;
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.nav-btn:hover {
    color: #ccc;
}

.container { 
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: none; 
    border-radius: 5px; 
    background-color: #412872; 
    color: white;
    text-align: center;
}

.home-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #5d3799;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.home-btn:hover{
    background-color: #411265;
    cursor: pointer;
}

.home-img{
    width: 80px;
    height:  80px;
    background-color: white;
    margin-bottom: 5px;
}

.container-list { 
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border: none; 
    border-radius: 5px; 
    background-color: #412872; 
    color: white;
    text-align: center;
}

.card {
    width: 50%;
    padding: 2%;
    margin: 2% auto;
    background-color: #5d3799;
    border-radius: 5px;
}
.card-profile-btn{
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.card-name {
    color: #00eeff;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    font-size: 22px;
}

.card-details {
    color: rgb(223, 160, 255);
    text-align: left;
    font-size: 17px;
}

.action-buttons {
    text-align: right;
    margin-top: 2%;
}

.delete { 
    color: #121212;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3%;
    font-size: 20px;
}

.photo {
    width: 80px;
    height: auto;
    margin-right: 2%;
    margin-left: 10%;
    margin-bottom: 5px;
    float: right;
}

.container-profile { 
    width: 35%;
    margin: 50px auto;
    padding: 20px;
    border: none; 
    border-radius: 5px; 
    background-color: #5d3799; 
    color: white;
    text-align: left;
}

#new-photo{
    display: none;
}

.profile-photo {
    width: 120px;
    height: auto;
    margin-right: 2%;
    margin-left: 10%;
    margin-bottom: 5px;
    float: right;
}


.profile-name h3 {
    color: #00eeff;
    font-weight: bold;
    font-size: 23px;
}

.profile-details h3 {
    color: rgb(223, 160, 255);
    font-weight: bold;
    font-size: 20px;
}

.container-profile p {
    font-size: 17px;
}

.edit { 
    color: #333;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin-right: 3%;
}

[contenteditable="true"] {
    border: 1px solid #000;
    background-color: #ffffff;
    color: #000;
    padding: 5px;
}

.alert-card {
    width: 90%;
    padding: 2%;
    margin: 2%;
    background-color: #5d3799;
    border-radius: 5px;
}
.alert-card-content {
    color: #00eeff;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    font-size: 22px;
}

.alert-card-severity {
    color: rgb(255, 60, 60);
    text-align: left;
    font-size: 17px;
}

.alert-card-time {
    color: rgb(0, 176, 12);
    text-align: left;
    font-size: 17px;
}

#video-element {
    display: none;
    margin: 2% auto;
}